Importing Necessary Libraries

In [10]:
import pandas as pd
import os

Merging 12 months of sales into a single CSV file

In [11]:
df =pd.read_csv("./Sales_Data/Sales_April_2019.csv")

### read all files from directory
files = [file for file in os.listdir('./Sales_Data')]

### creating empty data frame
all_months_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("./Sales_Data/"+file)
    ### concatenate each month
    all_months_data = pd.concat([all_months_data, df])

### saving withouth indexes
    all_months_data.to_csv("all_data.csv", index=False)

Read in updated dataframe
--> don't have to run code above to acess all data file

In [12]:
all_data = pd.read_csv("all_data.csv")
all_data.head ()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

Question 1: What was the best month for sales? How much was earned that month?

Task 1: Add Month Column

In [13]:
### debug
import pandas as pd
all_data = pd.read_csv("all_data.csv")

In [14]:
### adding "Month" column, grabing from "Order Date" the first two characters
all_data['Month'] = all_data['Order Date'].str[0:2]

Task 2: Add Sales Column

Data Cleanup due to error: can't multiply sequence by non-int of type 'str'

In [15]:
### converting columns to the correct type
all_data['Quantity Ordered'] = pd.to_numeric (all_data['Quantity Ordered']) # Make int
all_data['Price Each'] = pd.to_numeric (all_data['Price Each']) # Make float

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "pandas/_libs/lib.pyx", line 2369, in pandas._libs.lib.maybe_convert_numeric
ValueError: Unable to parse string "Quantity Ordered"

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/IPython/core/interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/3t/8w4dljz13_d0jy0npvmb1qp40000gn/T/ipykernel_10568/3447716529.py", line 2, in <module>
    all_data['Quantity Ordered'] = pd.to_numeric (all_data['Quantity Ordered'])
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/pandas/core/tools/numeric.py", line 185, in to_numeric
    values, _ = lib.maybe_convert_numeric(
  File "pandas/_libs/lib.pyx", line 2411, in pandas._libs.lib.maybe_convert_numeric
ValueError: Unable to parse string "Quantity Ordered" at position 254

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/IPython/core/interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/IPython/core/ultratb.py", line 1288, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/IPython/core/ultratb.py", line 1177, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/IPython/core/ultratb.py", line 1049, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/IPython/core/ultratb.py", line 935, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/Users/mac/Library/Python/3.9/lib/python/site-packages/IPython/core/ultratb.py", line 1003, in get_records
    lines, first = inspect.getsourcelines(etb.tb_frame)
  File "/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/inspect.py", line 1006, in getsourcelines
    lines, lnum = findsource(object)
  File "/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/inspect.py", line 835, in findsource
    raise OSError('could not get source code')
OSError: could not get source code

In [16]:
all_data['Sales'] = all_data['Quantity Ordered'] * all_data['Price Each']
all_data.head()

TypeError: can't multiply sequence by non-int of type 'str'